.container {
    width: 100vw;
    height: fit-content;
    background-color: black;
    padding-top: 150px;
}

.title {
    width: 100vw;
    height: 50vh;
    background: linear-gradient(135deg, rgb(0, 41, 155) 20%, rgb(0, 6, 82) 80%);
    padding-left: 15vw;
    padding-right: 15vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title1 {
    font-size: 3rem;
    font-family: "JetBrains Mono";
    color: white;
}

.content {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.image {
    width: 400px;
    height: 400px;
}

.table1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}

.table1Label {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.table1Value {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table1NotColored {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 230, 153);
}

.table1Colored {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(237, 125, 49);
}


@media (max-width: 1000px) {
    .title {
        flex-direction: column;
        justify-content: center;
    }

    .title1 {
        font-size: min(4vw, 3rem);
    }

    .content {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .image {
        width: 30vw;
        height: 30vw;
        max-width: 400px;
        max-height: 400px;
    }
}