.errorContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    display: grid;
    align-content: center;
    justify-items: center;
}

.errorIcon {
    width: 500px;
    height: 250px;
}

.errorMessage {
    font-size: 2rem;
    color: white;
}



@media (max-width: 1000px) {
    .errorIcon {
        width: min(50vw, 500px);
        height: min(25vw, 250px)
    }

    .errorMessage {
        font-size: 1.5rem;
    }
}