.container {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    padding-left: 15vw;
    padding-right: 15vw;
    overflow: hidden;
}

.achievementsContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
}

.achievement {
    width: 17.5vw;
    height: 100vh;
    display: grid;
    position: relative;
}

.achievement:hover {
    width: 40vw;
}

.achievement:hover > .achievementImage {
    width: 40vw;
    filter:grayscale(0%);
}

.achievementImage {
    width: 17.5vw;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(100%);
}

.achievementName {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    padding: 20px;
    word-break: keep-all;
}

.achievementNameTop {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.achievementNameCenter {
    font-size: 0.8rem;
    margin-top: 10px;
    color: white;
}

.achievementNameBottom {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
    border-top: 1px solid white;
}



@media (max-width: 1400px) {

    .achievementsContainer {
        height: 100vh;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(4, fit-content(100%));
    }

    .achievement {
        width: 75vw;
        height: 25vh;
    }

    .achievement:hover {
        width: 75vw;
        height: 50vh;
    }
    
    .achievement:hover > .achievementImage {
        width: 75vw;
        height: 50vh;
    }

    .achievementImage {
        width: 75vw;
        height: 25vh;
    }

    .achievementName {
        bottom: 1vh;
    }

    .achievementNameTop {
        font-size: 1.5rem;
    }
    
    .achievementNameCenter {
        font-size: 0.8rem;
        margin-top: 0px;
    }
    
    .achievementNameBottom {
        font-size: 2rem;
        margin-top: 5px;
        padding-top: 5px;
    }
}



@media (max-width: 1000px) {
    .container {
        padding-top: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .achievement {
        width: 90vw;
        height: 25vh;
    }

    .achievement:hover {
        width: 90vw;
        height: 50vh;
    }
    
    .achievement:hover > .achievementImage {
        width: 90vw;
        height: 50vh;
    }

    .achievementImage {
        width: 90vw;
        height: 25vh;
    }

    .achievementName {
        bottom: 1vh;
        padding: 5vw;
    }

    .achievementNameTop {
        font-size: 1.2rem;
    }
    
    .achievementNameCenter {
        font-size: 0.8rem;
    }
    
    .achievementNameBottom {
        font-size: 1.5rem;
    }
}