.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-left: 15vw;
    padding-right: 15vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
}

.achievementNormal {
    width: 17.5vw;
    height: 100vh;
    display: grid;
    position: relative;
}

.achievementSelected {
    width: 28vw;
    height: 100vh;
    display: grid;
    position: relative;
}

.achievementNotSelected {
    width: 14vw;
    height: 100vh;
    display: grid;
    position: relative;
}

.achievementImageSelected {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(0%) brightness(100%);;
}

.achievementImageNotSelected {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(100%) brightness(60%);
}

.achievementName {
    width: 100%;
    position: absolute;
    bottom: 15vh;
    padding-left: 20px;
    padding-right: 20px;
    word-break: keep-all;
}

.achievementNameTop {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.achievementNameCenter {
    font-size: 1rem;
    margin-top: 5px;
    color: white;
}

.achievementNameBottom {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    padding-top: 15px;
    color: white;
    border-top: 1px solid white;
}

.moreButtonShow {
    font-size: 1rem;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 8vh;
    left: 20px;
    opacity: 1;
    cursor: pointer;
}

.moreButtonHide {
    font-size: 1rem;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 8vh;
    left: 20px;
    opacity: 0;
}


@media (max-width: 1400px) {
    .container {
        padding-top: 14vh;
        padding-bottom: 6vh;
        padding-left: 0vw;
        padding-right: 0vw;
        grid-template-columns: none;
        grid-template-rows: repeat(4, fit-content(100%));
    }

    .achievementNormal {
        width: 100vw;
        height: 20vh;
    }
    
    .achievementSelected {
        width: 100vw;
        height: 35vh;
    }
    
    .achievementNotSelected {
        width: 100vw;
        height: 15vh;
    }

    .achievementImageSelected {
        width: 100vw;
        height: 35vh;
    }
    
    .achievementImageNotSelected {
        width: 100vw;
        height: 20vh;
    }

    .achievementName {
        top: 2.5vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .achievementNameTop {
        font-size: 1rem;
    }
    
    .achievementNameCenter {
        font-size: 0.8rem;
        margin-top: 0px;
    }
    
    .achievementNameBottom {
        font-size: 2rem;
        margin-top: 10px;
        padding-top: 5px;
    }

    .moreButtonShow {
        width: 120px;
        height: 40px;
        line-height: 40px;
        bottom: 2.5vh;
        left: 5vw;
    }
    
    .moreButtonHide {
        width: 120px;
        height: 40px;
        line-height: 40px;
        bottom: 2.5vh;
        left: 5vw;
    }
}
