.container {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: black;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.searchBar {
    font-size: 1.2rem;
    width: 250px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
}

.searchBar:focus {
    width: 70vw;
    color: white;
    outline: none;
}

.searchSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.searchSectionIncluded {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    cursor: pointer;
}

.searchSectionNotIncluded {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    cursor: pointer;
}

.searchSectionImageIncluded {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.searchSectionImageNotIncluded {
    width: 40px;
    height: 40px;
    padding: 8px;
    filter: invert();
    opacity: 0.5;
}

.searchSectionTextIncluded {
    color: black;
}

.searchSectionTextNotIncluded {
    color: gray;
}

.articlesContainer {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    margin-top: 50px;
    gap: 50px 0px;
    justify-content: space-between;
}

.article {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(70, 70, 70) 20%, rgb(50, 50, 50) 80%);
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    cursor: pointer;
}

.article:hover {
    transform: scale(1.15);
}

.articleImage {
    width: 400px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.articleInfo {
    padding: 30px;
}

.section {
    width: fit-content;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 5px;
}

.sectionImage {
    width: 20px;
    height: 20px;
    filter: invert();
    opacity: 0.5;
}

.sectionText {
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
    color: gray;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.noResultsFounded {
    width: 100%;
    height: 40vh;
    font-size: 2rem;
    font-weight: 300;
    color: gray;
    display: grid;
    align-items: center;
    text-align: center;
}

.backgroundShow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 1;
    transition: 0.5s;
    z-index: 6;
}

.backgroundHide {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 6;
    pointer-events: none;
}

.modalShow {
    width: fit-content;
    position: relative;
    top: 0px;
    opacity: 1;
}

.modalHide {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -200px;
    opacity: 0;
}

.modalBottom {
    width: 700px;
    height: 350px;
    display: grid;
    grid-template-rows: fit-content(100%) fit-content(100%) 1fr;
    padding: 40px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    overflow: hidden;
}

.modalImage {
    width: 700px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -5px;
}

.closeButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.closeButton:hover {
    background-color: black;
}

.closeButtonImage {
    width: 40px;
    height: 40px;
    padding: 12px;
    filter: invert(0);
}

.closeButton:hover>.closeButtonImage {
    filter: invert(1);
}

.modalTitle {
    font-size: 2rem;
    font-weight: 700;
    word-break: keep-all;
    margin-bottom: 20px;
}

.modalInfo {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 5px 0px;
}

.modalInfoHeader {
    color: rgb(150, 150, 150);
}

.modalInfoValue {
    border-left: 1px solid rgb(200, 200, 200);
    margin-left: 20px;
    padding-left: 20px;
}

.modalButton {
    font-size: 1.2rem;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    align-self: end;
    margin-top: 40px;
    border-radius: 5px;
    color: black;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.modalButton:hover {
    color: white;
    background-color: black;
}


@media (max-width: 2000px) {
    .articlesContainer {
        grid-template-columns: repeat(2, fit-content(100%));
    }

    .article {
        width: 32vw;
        height: 40vw;
        max-height: calc(16vw + 250px);
    }

    .articleImage {
        width: 32vw;
        height: 16vw;
    }   

    .title {
        font-size: 1.5rem;
    }
}



@media (max-width: 1000px) {
    .container {
        padding-top: 150px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .searchBar {
        font-size: 1rem;
        width: 90vw;
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .searchBar:focus {
        width: 90vw;
    }

    .article {
        width: 42.5vw;
        height: 53.125vw;
    }

    .articleImage {
        width: 42.5vw;
        height: 21.25vw;
    }

    .articleInfo {
        padding: min(5vw, 30px);
    }

    .modalBottom {
        width: 90vw;
        max-width: 700px;
        height: fit-content;
        max-height: 350px;
        padding: min(5vw, 40px);
    }

    .modalImage {
        width: 90vw;
        max-width: 700px;
        height: 75vw;
        max-height: 350px;
    }

    .modalTitle {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .modalInfoHeader {
        font-size: 0.85rem;
    }

    .modalInfoValue {
        font-size: 0.85rem;
        margin-left: 10px;
        padding-left: 10px;
    }

    .modalButton {
        font-size: 1rem;
        height: 50px;
        line-height: 50px;
    }
}



@media (max-width: 700px) {
    .articlesContainer {
        grid-template-columns: none;
        gap: 5vw;
    }

    .article {
        width: 90vw;
        height: calc(45vw + 150px);
        max-height: none;
    }

    .articleImage {
        width: 90vw;
        height: 45vw;
    }
}