.container {
    width: 100vw;
    height: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
    position: fixed;
    background: linear-gradient(180deg, black 40%, transparent);
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
    align-items: center;
    z-index: 3;
}

.titleText {
    font-size: 1.5rem;
    line-height: 40px;
    color: white;
    margin-left: 10px;
}

.button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    justify-self: right;
}

.button span {
    height: 10%;
    border-radius: 10px;
    background-color: white;
    transition: 0.5s;
}

.button span:nth-of-type(1) {
    width: 50%;
    position: absolute;
    top: 15%;
}

.button span:nth-of-type(2) {
    width: 100%;
    position: absolute;
    top: 45%;
    opacity: 1;
}

.button span:nth-of-type(3) {
    width: 75%;
    position: absolute;
    bottom: 15%;
}

.buttonClicked {
    display: none;
}

.buttonClicked~span:nth-of-type(1) {
    width: 100%;
    transform: rotate(45deg);
    top: 45%;
}

.buttonClicked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.buttonClicked~span:nth-of-type(3) {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 45%;
}

.menuContainerClicked {
    width: 100vw;
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    align-items: center;
    justify-items: stretch;
    transition: 0.5s;
    z-index: 2;
}

.menuContainerNotClicked {
    width: 100vw;
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: -100vh;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    align-items: center;
    justify-items: stretch;
    transition: 0.5s;
    z-index: 2;
}

.menuElements {
    cursor: pointer;
    text-decoration-line: none;
    z-index: 2;
}

.menuElementsTop {
    font-size: 5rem;
    font-weight: 800;
    color: white;
    transition: 0.5s;
}

.menuElementsCenter {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 10px;
    color: white;
}

.menuElementsBottom {
    margin-top: 5px;
    color: rgb(150, 150, 150);
}



@media (max-width: 1000px) {
    .container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .titleText {
        font-size: 1.2rem;
    }

    .button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
    }

    .menuContainerClicked {
        padding-left: 5vw;
        padding-right: 5vw;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        gap: 0px;
        align-items: center;
        justify-items: stretch;
    }

    .menuContainerNotClicked {
        padding-left: 5vw;
        padding-right: 5vw;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        gap: 0px;
        align-items: center;
        justify-items: stretch;
    }

    .menuElementsTop {
        font-size: 3rem;
    }

    .menuElementsCenter {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .menuElementsBottom {
        margin-top: 0px;
    }
}