.homeContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 2vh;
    background-color: black;
    display: grid;
    align-content: center;
    justify-content: center;
}

.animationText1 {
    width: 70vw;
    height: fit-content;
    min-height: 120px;
    line-height: 120px;
    font-size: 10rem;
    font-weight: 100;
    background: linear-gradient(135deg,
            #FF6663,
            #FEB144,
            #FDFD97,
            #9EE09E,
            #9EC1CF,
            #CC99C9,
            #9EC1CF,
            #9EE09E,
            #FDFD97,
            #FEB144,
            #FF6663
        );
    background-size: 200% 200%;
    animation: animateGlow 5s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: grid;
    align-items: end;
}

.animationText2 {
    width: 70vw;
    height: fit-content;
    min-height: 70px;
    line-height: 70px;
    font-size: 4rem;
    ;
    color: white;
}

.subText {
    font-size: 2rem;
    color: white;
    text-align: right;
}

.line {
    width: 70vw;
    height: 4px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left,
            #FF6663,
            #FEB144,
            #FDFD97,
            #9EE09E,
            #9EC1CF,
            #CC99C9,
            #9EC1CF,
            #9EE09E,
            #FDFD97,
            #FEB144,
            #FF6663
        );
    background-size: 200% 200%;
    animation: animateGlow 1.5s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}



@media (max-width: 1000px) {
    .animationText1 {
        width: 90vw;
        min-height: 18vw;
        line-height: 18vw;
        font-size: 18vw;
    }

    .animationText2 {
        width: 90vw;
        height: fit-content;
        min-height: 7vw;
        line-height: 7vw;
        font-size: 7vw;
    }

    .subText {
        font-size: 4vw;
    }

    .line {
        width: 90vw;
    }
}