.navigationContainerTop {
    width: 100vw;
    height: 60px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    align-items: center;
    z-index: 3;
}

.titleText {
    font-size: 1.2rem;
    line-height: 40px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.buttonNotClicked {
    filter: invert();
    transition: 0.5s;
    cursor: pointer;
}

.buttonClicked {
    filter: invert();
    transform: rotate(180deg);
    transition: 0.5s;
    cursor: pointer;
}

.menuContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    position: absolute;
    transition: 1s;
}

.menuElementsContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.menuElements {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.menuLine {
    width: 100vw;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top: calc(50vh - 5px);
    z-index: 1;
}