.container {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: black;
    padding-top: 150px;
}

.question {
    font-size: 1.5rem;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 30px;
    color: white;
}

.equipmentElements {
    width: calc(max(360px, 20vw) - 20px);
    height: max(450px, 25vw);
    border-radius: 10px;
    background: linear-gradient(-45deg, rgb(40, 40, 40) 10%, rgb(15, 15, 15) 90%);
}

.equipmentImage {
    width: calc(max(360px, 20vw) - 20px);
    height: calc(max(360px, 20vw) - 20px);
    padding: 30px;
}

.equipmentText {
    font-size: 1.5rem;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-bottom: 10px;
}

.equipmentSubText {
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 100, 100);
}