.abilitiesContainer {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.abilitiesHeader {
    width: 100vw;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.abilitiesSubContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 30px calc((70vw - 960px) / 3);
    margin-bottom: 100px;
}

.abilityNotClicked {
    width: 240px;
    height: 240px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    color: white;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    position: relative;
    cursor: pointer;
}

.abilityClicked {
    width: 240px;
    height: 240px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    transform: scale(1.6);
    z-index: 2;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
    justify-self: center;
}

.abilityDescription {
    font-size: 0.7rem;
    color: rgb(100, 100, 100);
    margin-top: 10px;
}

.abilityIconNotClicked {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.abilityIconClicked {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.abilityGoToButton {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    cursor: pointer;
}

.abilityGoToButtonText {
    font-size: 0.8rem;
    text-align: left;
    color: white;
    padding-left: 30px;
}

.abilityGoToButtonText::before {
    content: "Go to ";
}

.abilityGoToButtonIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
}



@media (max-width: 1500px) {
    .abilitiesSubContainer {
        grid-template-columns: repeat(3, 240px);
        gap: 30px calc((70vw - 720px) / 2);
    }
}

@media (max-width: 1200px) {
    .abilitiesSubContainer {
        grid-template-columns: repeat(3, 200px);
        gap: 30px calc((70vw - 600px) / 2);
    }

    .abilityNotClicked {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .abilitiesContainer {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .abilitiesSubContainer {
        grid-template-columns: repeat(3, 200px);
        gap: 30px calc((90vw - 600px) / 2);
    }

    .abilityNotClicked {
        width: 200px;
        height: 200px;
    }

    .abilityClicked {
        width: 200px;
        height: 200px;
        grid-template-rows: fit-content(100%) 1fr;
        transform: scale(1.2);
    }

    .abilityDescription {
        display: none;
    }

    .abilityGoToButton {
        width: 160px;
        align-self: flex-end;
    }

    .abilityGoToButtonText {
        padding-left: 30px;
    }

    .abilityGoToButtonText::before {
        content: none;
    }
    
    .abilityGoToButtonIcon {
        margin-right: 15px;
    }
}

@media (max-width: 700px) {
    .abilitiesContainer {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .abilitiesSubContainer {
        grid-template-columns: repeat(2, 42.5vw);
        gap: 30px 5vw;
        margin-bottom: 10vw;
    }

    .abilityNotClicked {
        width: 42.5vw;
        height: 42.5vw;
        font-size: 1rem;
        border-radius: 5px;
        padding: 3vw;
    }

    .abilityNotClicked:hover {
        transform: none;
    }

    .abilityClicked {
        width: 42.5vw;
        height: 42.5vw;
        font-size: 1rem;
        border-radius: 5px;
        padding: 3vw;
        transform: scale(1.2);
    }

    .abilityIconNotClicked {
        width: 20vw;
        height: 20vw;
    }

    .abilityIconClicked {
        width: 18vw;
        height: 18vw;
        bottom: 13vw;
    }

    .abilityGoToButton {
        width: 36.5vw;
        height: 10vw;
        line-height: 10vw;
    }

    .abilityGoToButtonText {
        font-size: 0.8rem;
        padding-left: 3vw;
    }

    .abilityGoToButtonIcon {
        width: 10vw;
        height: 10vw;
        padding: 3vw;
        margin: 0px;
    }
}