.skillsContainer {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.skillsHeader {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.skillsSubContainer {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    gap: 30px 0px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.skillNotClicked {
    width: 240px;
    height: 240px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    color: white;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    position: relative;
    cursor: pointer;
}

.skillClicked {
    width: 240px;
    height: 240px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    transform: scale(1.6);
    z-index: 2;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
    justify-self: center;
}

.skillDescription {
    font-size: 0.7rem;
    color: rgb(100, 100, 100);
    margin-top: 10px;
}

.skillIconNotClicked {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.skillIconClicked {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.skillGoToButton {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    cursor: pointer;
}

.skillGoToButtonText {
    font-size: 0.8rem;
    text-align: left;
    color: white;
    padding-left: 30px;
}

.skillGoToButtonText::before {
    content: "Go to ";
}

.skillGoToButtonIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
}

@media (max-width: 2000px) {
    .skillsSubContainer {
        grid-template-columns: repeat(4, 240px);
    }
}

@media (max-width: 1500px) {
    .skillsSubContainer {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (max-width: 1200px) {
    .skillsSubContainer {
        grid-template-columns: repeat(3, 200px);
    }

    .skillNotClicked {
        width: 200px;
        height: 200px;
    }

    .skillClicked {
        width: 200px;
        height: 200px;
        grid-template-rows: fit-content(100%) 1fr;
        transform: scale(1.2);
    }

    .skillDescription {
        display: none;
    }

    .skillGoToButton {
        width: 160px;
        align-self: flex-end;
    }

    .skillGoToButtonText {
        padding-left: 30px;
    }

    .skillGoToButtonText::before {
        content: none;
    }
    
    .skillGoToButtonIcon {
        margin-right: 15px;
    }
}

@media (max-width: 1000px) {
    .skillsContainer {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (max-width: 700px) {
    .skillsHeader {
        font-size: 1.5rem;
    }

    .skillsSubContainer {
        grid-template-columns: repeat(2, 42.5vw);
        margin-bottom: 50px;
    }

    .skillNotClicked {
        width: 42.5vw;
        height: 42.5vw;
        font-size: 1rem;
        border-radius: 5px;
        padding: 3vw;
    }

    .skillNotClicked:hover {
        transform: none;
    }

    .skillClicked {
        width: 42.5vw;
        height: 42.5vw;
        font-size: 1rem;
        border-radius: 5px;
        padding: 3vw;
        transform: scale(1.2);
    }

    .skillIconNotClicked {
        width: 20vw;
        height: 20vw;
    }

    .skillIconClicked {
        width: 18vw;
        height: 18vw;
        bottom: 13vw;
    }

    .skillGoToButton {
        width: 36.5vw;
        height: 10vw;
        line-height: 10vw;
    }

    .skillGoToButtonText {
        font-size: 0.8rem;
        padding-left: 3vw;
    }

    .skillGoToButtonIcon {
        width: 10vw;
        height: 10vw;
        padding: 3vw;
        margin: 0px;
    }
}