.authorsContainer {
    font-size: 1.2rem;
    width: 100vw;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.header {
    border-left: 1px solid gray;
    padding-left: 20px;
}

.label {
    font-weight: 300;
    color: gray;
}

.value {
    color: white;
}