.container {
    width: 100vw;
    height: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
    position: fixed;
    background: linear-gradient(180deg, black 40%, transparent);
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr fit-content(100%);
    align-items: center;
    z-index: 4;
}

.titleText {
    font-size: 1.5rem;
    line-height: 40px;
    color: white;
    margin-left: 10px;
}

.menuButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 15vw;
    top: 55px;
    z-index: 8;
}

.menuButton span {
    height: 10%;
    border-radius: 10px;
    background-color: white;
    transition: 0.5s;
}

.menuButton span:nth-of-type(1) {
    width: 50%;
    position: absolute;
    top: 15%;
}

.menuButton span:nth-of-type(2) {
    width: 100%;
    position: absolute;
    top: 45%;
    opacity: 1;
}

.menuButton span:nth-of-type(3) {
    width: 75%;
    position: absolute;
    bottom: 15%;
}

.menuButtonClicked {
    display: none;
}

.menuButtonClicked~span:nth-of-type(1) {
    width: 100%;
    transform: rotate(45deg);
    top: 45%;
}

.menuButtonClicked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.menuButtonClicked~span:nth-of-type(3) {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 45%;
}

.backgroundShow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    opacity: 1;
    transition: 0.5s;
    z-index: 5;
}

.backgroundHide {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    opacity: 0;
    transition: 0.5s;
    z-index: 5;
    pointer-events: none;
}

.menuShow {
    width: 450px;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 120px;
    padding-left: 40px;
}

.menuHide {
    width: 450px;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: fixed;
    top: 0px;
    right: -450px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 120px;
    padding-left: 40px;
}

.menuElements {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
}

.menuElements:hover {
    color: aqua;
}

.arrowShow {
    font-size: 2.5rem;
    font-weight: 600;
    width: 35px;
    max-width: 35px;
    color: aqua;
    opacity: 1;
    transition: 0.5s;
}

.arrowHide {
    font-size: 2.5rem;
    font-weight: 600;
    width: 35px;
    max-width: 0px;
    opacity: 0;
    transition: 0.5s;
}

.musicWrapper {
    width: 370px;
    height: 70px;
    margin-top: 50px;
    border-radius: 40px 10px 10px 40px;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.musicPlayer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.musicIndex {
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.musicController {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.albumArtPlay {
    border-radius: 50px;
    animation: spin 10s linear infinite;
}

.albumArtPause {
    border-radius: 50px;
}

.musicIcon {
    filter: invert();
    cursor: pointer;
}

.musicIcon:hover {
    transform: scale(1.5);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 1000px) {
    .container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .titleText {
        font-size: 1.2rem;
    }

    .menuButton {
        width: 30px;
        height: 30px;
        right: min(40px, 5vw);
    }

    .menuElements {
        font-size: min(2.5rem, 8vw);
    }

    .arrowShow {
        font-size: min(2.5rem, 8vw);
    }
    
    .arrowHide {
        font-size: min(2.5rem, 8vw);
    }
}


@media (max-width: 600px) {
    .menuShow {
        width: 100vw;
        top: 0px;
        right: 0px;
        padding-left: min(40px, 5vw);
        gap: min(20px, 5vw);
    }
    
    .menuHide {
        width: 100vw;
        top: 0px;
        right: -100vw;
        padding-left: min(40px, 5vw);
        gap: min(20px, 5vw);
    }

    .musicWrapper {
        width: 90vw;
        height: 70px;
    }
    
    .musicPlayer {
        width: calc(90vw - 70px);
    }
}