.member {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.memberImage {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.memberInfo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memberInfoNameId {
    display: flex;
    flex-direction: row;
}

.memberInfoName {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

.memberInfoId {
    font-size: 1.3rem;
    color: white;
    margin-left: 10px;
}

.memberInfoId:hover {
    color: aqua;
    cursor: pointer;
}

.memberInfoPosition {
    font-size: 1rem;
    color: rgb(100, 100, 100);
    height: 20px;
    line-height: 20px;
}



@media (max-width: 1000px) {
    .memberInfoName {
        font-size: 1rem;
    }

    .memberInfoId {
        font-size: 1rem;
    }

    .memberInfoPosition {
        font-size: 0.8rem;
    }
}