.container {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: black;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.skillsHeader {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.skillsSubContainer {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    gap: 30px 0px;
    justify-content: space-between;
    margin-bottom: 50px;
}



@media (max-width: 2000px) {
    .skillsSubContainer {
        grid-template-columns: repeat(4, 240px);
    }
}

@media (max-width: 1500px) {
    .skillsSubContainer {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (max-width: 1200px) {
    .skillsSubContainer {
        grid-template-columns: repeat(3, 200px);
    }
}

@media (max-width: 1000px) {
    .container {
        padding-top: 150px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (max-width: 700px) {
    .skillsHeader {
        font-size: 1.5rem;
    }

    .skillsSubContainer {
        grid-template-columns: repeat(2, 42.5vw);
        margin-bottom: 50px;
    }
}